@page
@model ExampleMvcRazorPagesApp.Pages.SmartTextArea.IndexModel

<h1>Smart TextArea</h1>

<form method="post">
    <smart-textarea user-role="HR assistant" placeholder="Type a message..." style="width: 300px; height: 100px; padding: 10px;" />
</form>
