@inherits LayoutComponentBase

<nav class="bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-600">
    <NavBar />
</nav>

<main class="mt-16 max-w-screen-xl mx-auto p-4 pb-12">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
