@page "/"

<PageTitle>Home</PageTitle>

<WarnIfMissingConfiguration />

<p class="mt-4">
    Smart Components lets you
    <strong class="font-semibold">add genuinely useful AI-powered features to your .NET apps quickly and easily</strong>.
</p>

<p class="mt-4">
    It's an experiment from the .NET team, and is initially available for ASP.NET Core 6.0 and later.
</p>

<h3 class="font-semibold mt-8">Learn more</h3>

<ul class="list-disc m-5">
    <li class="mb-2">
        <p><a href="https://github.com/dotnet-smartcomponents/smartcomponents">Readme and documentation</a></p>
    </li>
    <li class="mb-2">
        <p><a href="https://github.com/dotnet-smartcomponents/smartcomponents/blob/main/docs/getting-started-blazor.md">Getting started with Smart Components and Blazor</a></p>
    </li>
    <li class="mb-2">
        <p><a href="https://github.com/dotnet-smartcomponents/smartcomponents/blob/main/docs/getting-started-mvc-razor-pages.md">Getting started with Smart Components and MVC/Razor Pages</a></p>
    </li>
    <li class="mb-2">
        <p><a href="https://github.com/dotnet-smartcomponents/smartcomponents/issues">Submit feedback / questions</a></p>
    </li>
</ul>
